
@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <title></title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
   
    <button onclick="history.go(0)">Spin</button>&nbsp;
    
    <span class=color2>@ViewBag.Rand1</span>&nbsp;<span class=color2>@ViewBag.Rand2</span>&nbsp;<span class="color2">@ViewBag.Rand3</span>
    <br />
    <h1>Lucky Seven</h1>
       
 
    
            <img src="~/images/LuckySevenExercise.jpg"  style="display :@ViewBag.Display"/>
        
    


</body>
</html>